manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-dnds"
    description     = "Nextflow pipeline template."
    defaultBranch   = "v0.0.1"
    nextflowVersion = '!>=24.00.0,<26'
    version         = "0.0.1"
    doi             = ''

}

params {

    help = false
    test = false

    /* Required */
    sample_sheet = null

    /* Optional */
    inputs = "inputs"
    outputs = "outputs"

    max_strains = false
    pvalue = 0.05
    taxonkit_db_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz"

}

process {
  container = 'ghcr.io/scbirlab/nf-dnds:latest'
  containerEngine = 'auto'  // docker, singularity, or podman
  conda = "${projectDir}/environment.yml"
}

conda {
  createTimeout = "3h"
  cacheDir = "${projectDir}/.conda"
}

singularity {
  autoMounts = true
  cacheDir = "${projectDir}/.singularity"
  runOptions = "--network=none"
}

docker {
  cacheDir = "${projectDir}/.docker"
  temp = true  // run in isolated container mount
}

profiles {

  standard {

    singularity.enabled = true

    process {
      executor = 'slurm'
      array = 100
      time = '5h'
      cpus = 1
      memory = 8.GB

      withLabel: big_cpu {
        cpus = 16
        memory = 64.GB
      }

      withLabel: med_mem {
        memory = 32.GB
      }

    }

    dag {
      enabled = true
      overwrite = true
    }

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

  }

  local {

    process {
      executor = 'local'
      memory = 16.GB
      cpus = 1

      withLabel: big_cpu {
        cpus = 8
      }

    }

  }

  gh {

    docker.enabled = true
    docker.runOptions = '-u 1001:1001'

    process {
      executor = 'local'
      cpus = 1
      memory = 12.GB
    }

  }

}